extends layout

block content
  h2.fade-up My Projects

  .project-grid
    each project in projects
      .project.fade-up
        if project.image
          img.project-image(src=project.image, alt=project.title)
        .project-content
          if project.iconClass
            i(class=project.iconClass)
          h3= project.title
          p.fade-up= project.description

          if project.tags
            ul.tags
              each tag in project.tags
                li= tag

        a(href=project.link, target="_blank") View on GitHub